/* Barre de Navigation */

nav {
    position: sticky;
}

nav .cta {
    border: none;
    background: none;
    cursor: pointer;
}

nav .name {
    margin-right: auto;
}

nav .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

nav .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

nav .cta:hover svg {
    transform: translateX(0);
}

nav .cta:active svg {
    transform: scale(0.9);
}

nav .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

nav .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Fin Barre de Navigation */

/* A propos */

.flip-card {
    background-color: transparent;
    width: 380px;
    height: 600px;
    perspective: 1000px;
    font-family: sans-serif;
    list-style-type: none;
    cursor: pointer;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}

.flip-card-front p {
    font-size: 30px;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
    bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back a {
    font-size: 30px;
}


/* Fin a propos */